<%- include('./layout/header') -%>
<main>
    <% if(pdfData.length > 0 ){ %>
        <select name="pdf" id="pdf" class="offset-md-3 col-sm-12 col-md-6 form-control mb-3 mt-3">
        <% pdfData.forEach(function(pdf){ %>
            <option value="<%= pdf.pdfName %>"><%= pdf.pdfName %></option>
        <% }) %>
        </select>
        <% pdfData.forEach(function(pdf){ %>
            <% pdf.imageData.forEach(function(image){ %>
                <div class="row m-5 pdf-text">
                    <div class="col-sm-12 col-md-6 img-container">
                        <img src="<%= image.imagePath %>" alt="Image Comes Here" id="<%= image.imageId %>" class="mapper map-image" usemap="#pdfImage-<%= image.imageId %>">
                        <map name="pdfImage-<%= image.imageId %>" class="map-areas">
                            <% image.imageText.forEach(function(text){ %>
                                <area shape="rect" coords="<%= text.pixelLocation %>" class="noborder icolor00ff00" id="<%= text.wordId %>" data-textId = "word-<%= text.wordId %>" data-imageId = "<%= image.imageId %>">
                            <% }) %>
                        </map>
                    </div>
                    <div class="text-container col-sm-12 col-md-6">
                        <div class="taginput">
                            <% image.imageText.forEach(function(text){ %>
                                <% if(text.suggestions != null){ %>
                                    <span contenteditable="true" style="color: <%= text.color %>" id="word-<%= text.wordId %>" class="autocomplete text-word" data-coords="<%= text.pixelLocation %>" data-wordId="<%= text.wordId %>" data-imageId="<%= image.imageId %>" data-suggestions="<%= text.suggestions %>">
                                        <%= text.word %>
                                    </span>
                                    <ul class="suggestion_list" name="<%= text.wordId %>">
                                        <% text.suggestions.forEach(function(suggestion){ %>
                                            <a href="#" class="list"> <li class="suggestion_items" contenteditable="false"><%= suggestion %></li> </a>
                                        <% }) %>
                                    </ul>
                                <% } else { %>
                                    <span contenteditable="true" style="color: #000" id="word-<%= text.wordId %>" class="autocomplete text-no-suggestion" data-coords="<%= text.pixelLocation %>" data-wordId="<%= text.wordId %>" data-imageId="<%= image.imageId %>">
                                        <%= text.word %>
                                    </span>
                                <% } %>
                            <% }) %>
                        </div>
                        <input type="button" value="Save" class="btn btn-success save-text-button">
                    </div>
                </div>
            <% }) %>
        <% }) %>
    <% } %>
</main>
<%- include('./layout/footer') -%>